<h1>{{book.title}}</h1>
<h2>{{book.author.firstName}} {{book.author.lastName}}</h2>
<p>Description: {{book.description}}</p>
{{#if book.image_url}}
  <img src="{{book.image_url}}" alt="" width="200">
{{else}}
  <p>The book doesn't have cover image</p>
{{/if}}
<br>
<a href="/books">Return</a>
{{!-- create review --}}
<p>Add a review</p>
<form action="/reviews/add?book_id={{book._id}}" method="post">
  <label for="">User:</label>
  <input type="text" name="user"><br>

  <label for="">Comments:</label><br>
  <textarea type="text" name="comments"></textarea><br>

  <button type="submit">ADD</button>
</form>
<h2>Reviews</h2>
{{#each book.reviews}}
<div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}}