<h1>{{theRoom.name}}</h1>
{{#if theRoom.imageUrl}}
  <img src="{{theRoom.imageUrl}}" alt="" width="200">
{{else}}
  <p>The Room doesn't have a cover image</p>
{{/if}}
<br>
<p>Description: {{theRoom.description}}</p>
<h2>Posted by: {{theRoom.owner.fullName}}</h2>
<a href="/rooms">Go Back</a>
{{!-- {{#if theRoom.isOwner}}
      <form action="/rooms/{{theRoom._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
      <a href="/rooms/{{theRoom._id}}/edit" class="edit-button">EDIT</a>
{{/if}} --}}
<p>Add a review</p>
<form action="/rooms/reviews/add?id={{theRoom._id}}" method="post">
  <label for="">User:</label><br>
  <input type="text" name="user" value="{{req.user.fullName}}">
  <label for="">Comments:</label><br>
  <textarea type="text" name="comment"></textarea><br>

  <button type="submit">ADD</button>
</form>
<h2>Reviews</h2>
{{#each theRoom.reviews}}
<div class="review-item">
  <p>{{this.comment}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}}


