{{!-- <ul>
  {{#each books}}
    <li><a href="/books/{{this._id}}"></a>{{this.title}}</li>
  {{/each}}
</ul> --}}
<ul>
  {{#each books}}
    <li><a href="/books/{{this._id}}">  {{this.title}} </a> </li>
    <a href="/books/{{this._id}}/edit" class="edit-button">EDIT</a>
  {{/each}}
</ul>